{% extends 'adsuggest/base.html' %}

{% block content %}
<p>
You've been recommended this ad by {{sent_by}}!
</p>

<form method="post" action="{% url 'share' ad.url_id %}">
{{form}}
<input type="submit" value="Send!">
{% csrf_token %}
</form>
{% if not is_liked and not is_disliked %}
    <form method="post" action="{% url 'like' id %}">
    <input type="submit" value="I like this!">
    {% csrf_token %}
    </form>

    <form method="post" action="{% url 'dislike' id %}">
    <input type="submit" value="I dislike this.">
    {% csrf_token %}
    </form>
{% elif is_liked %}
    <p style="color:blue"> You like this! </p>
{% elif is_disliked %}
    <p style="color:red"> You dislike this! </p>
{% endif %}

{% endblock content%} 
