<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>A Private Todo List</title>
</head>

<body>
Logged in user: {{user.username}}, Score: {{user.aduser.score}}
<br/>
<p>
You've been recommended this ad by {{sent_by}}!
</p>
<iframe width="420" height="345" src="{{embedUrl}}"></iframe>
<form method="post" action="{% url 'share' ad.url_id %}">
{{form}}
<input type="submit" value="Send!">
{% csrf_token %}
</form>
{% if not is_liked and not is_disliked %}
    <form method="post" action="{% url 'like' id %}">
    <input type="submit" value="I like this!">
    {% csrf_token %}
    </form>

    <form method="post" action="{% url 'dislike' id %}">
    <input type="submit" value="I dislike this.">
    {% csrf_token %}
    </form>
{% elif is_liked %}
    <p style="color:blue"> You like this! </p>
{% elif is_disliked %}
    <p style="color:red"> You dislike this! </p>
{% endif %}
{% if messages %}
    {% for message in messages %}
    <p style="color:red">{{message}}</p>
    {% endfor %}
    <p>
{% endif %}
<a href="{% url 'logout' %}">Logout</a>
</p>
</body>
</html>
